html {
  height: 100%;
  width: 100%;
}
body{
  background-color: #6ee6d2;
}
.conten1 img{
  height: 100px;
}
.conten1{
  display: flex;
  justify-content: center;
  align-items: center;
}
p{
  font-size: 60px;
  margin: 30px;
  color: #1c8775;
}
.pastel img{
  height: 400px;
}
.pastel{
  display: flex;
  justify-content: center;
  align-items: center;
}
.conten2{
  display: flex;
  justify-content: center;
  align-items: center;
}